---
const jobs = [
  {
    title: "Mobile Developer",
    business: "UTECO (Universidad Tecnologíca del Cibao Oriental)",
    from: "JAN 2025",
    to: "now",
    desc: "Responsible for the design, development, and maintenance of mobile applications for the university, improving student and faculty access to institutional resources.",
  },
  {
    title: "Digital Creator",
    business: "YouTube",
    from: "2022",
    to: "now",
    desc: "As a content creator on YouTube, I produce educational videos on web development, focusing on the JavaScript ecosystem to teach modern technologies and best practices.",
  },
  {
    title: "Software Developer",
    business: "Freelance",
    from: "2024",
    to: "now",
    desc: "Delivering custom software solutions for various clients, managing projects from conception to deployment and ensuring high-quality, scalable code.",
  },
  {
    title: "Tutor on Udemy",
    business: "Udemy",
    from: "2024",
    to: "now",
    desc: "Author and instructor of the 'JavaScript Ninja' course, guiding students from basic concepts to advanced topics through practical and engaging lessons.",
  },
];
---

<article
  class="reveal mx-auto w-[90%] max-w-4xl rounded-xl border border-white/10 bg-gray-900/50 p-6 text-white backdrop-blur-sm md:p-8"
  id="experience"
>
  <h2
    class="mb-12 flex items-center justify-center gap-3 text-2xl font-extrabold uppercase text-white"
  >
    <span>Experience</span>
  </h2>
  <div class="relative border-l-2 border-blue-400/30">
    {
      jobs.map((el) => (
        <div class="reveal mb-10 ml-6">
          <span class="absolute -left-[9px] flex h-4 w-4 items-center justify-center rounded-full bg-blue-400 ring-4 ring-gray-800" />
          <div class="flex-col rounded-lg border border-white/10 bg-gray-900/50 p-4 shadow-md">
            <div class="mb-2 flex flex-wrap items-center justify-between gap-2">
              <h3 class="text-lg font-bold uppercase text-yellow-300">
                {el.title}
              </h3>
              <span class="text-sm font-semibold uppercase text-gray-400">
                {el.from} - {el.to}
              </span>
            </div>
            <h4 class="mb-3 text-md font-semibold uppercase text-blue-400">
              {el.business}
            </h4>
            <p class="text-sm text-gray-300">{el.desc}</p>
          </div>
        </div>
      ))
    }
  </div>
</article>